body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color : #2b2b2b
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav ul li{
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #005f73;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
nav ul li a:hover{
    background-color: #1b6ca8;
}
.content, .about, .contact {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center; 
    padding: 20px;        
}